{% extends 'base.html' %}
{% load static %}
{% block title %}
    О нас
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12 mt-4 mb-5">
		<h1 class="text-center">О нас</h1>
	</div>
</div>
<div class="row">
	<div class="col-12 mb-3" style="line-height:5px;">
		<h3>Клуб любителей пиццы</h3>
		<p><i>Developer: Nuriya</i></p>
		<hr style="height:2px;border:none;color:#000;background-color:#000;">
	</div>
	<div class="col-12 mt-4">
		<p>Мы находимся на рынке более 10 лет. Наши пиццы известны почти всем. Мы знаем, как много любителей пиццы в нашей стране.
      Именно поэтому мы решили сделать этот прекрасный сайт, где люди могут не только попробовать наши лучшие пиццы, но и пообщаться просто друг с другом, обсудить свои лучшие покупки пиццы.</p>

	</div>
{% endblock %}
